@import "variables"

footer
  background-color: $primary
  text-align: center
  padding: 0.5rem
  @media (min-width: $big-screen)
    position: fixed
    bottom: 0px
    left: 0px
    right: 0px
  .wrapper
    .content
      color: $secondary
      font-size: 1.25rem
      .menu
        a
          color: $secondary
          text-decoration: none
          padding: 0 0.5rem 0 0.5rem
          border-left: 1px solid $secondary
          &:first-child
            border-left: none
.dark-mode
  footer
    background-color: $dark-primary
    color: $dark-secondar
