@import "variables";

.list-blogs-wrapper
  border-radius: 5px
  border: 1px solid $secondary
  padding: 5px
  a
    text-decoration: none
    color: inherit
  &:hover
    background-color: $primary
    color: $secondary
  span.blogs-date
    float: right